$clr-white-1: #fff;
$clr-black-1: #000;
$clr-red-1: #fb5849;
$clr-grey-1: #2a2a2a;
$clr-grey-overlay: rgba(42, 42, 42, 0.9);
$clr-blue-1: #0056b3;

$font-heading-1: 3.375rem;
$font-heading-2: 1.875rem;
$font-heading-3: 1.25rem;
$font-subheading: 0.938rem;
$font-regular: 0.875rem;

$layout-padding-1: 7.5rem;
$layout-padding-2: 3.125rem;